# Special file-extensions.
*.swp
*.log
*.pyc

# Tool-specific hidden-caches.
.DS_Store
.ipynb_checkpoints
__pycache__
.bash_history
.parallel
.snakemake
.conda
.cache
.ipython
.jupyter
.local
.theano
.python_history
.pdbhistory
.lesshst
.condarc
nb/profile_default
.panoptes.db

# Data Directories
log
raw
ref
data
build
sraw
sdata
smeta
fig
