# Special file-extensions.
*.swp
*.log
*.pyc

# Tool-specific hidden-caches.
.DS_Store
.ipynb_checkpoints
nb/.virtual_documents
__pycache__
.bash_history
.parallel
.snakemake
.conda
.cache
.ipython
.jupyter
.local
.theano
.python_history
.pdbhistory
.lesshst
.condarc
nb/profile_default
.panoptes.db
.java
.pytensor
.config

# Data Directories
log
raw
sraw
ref
data
build
sdata
smeta
fig
