[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit
	wdiff = diff --color-words
	s = status -uno
	ls-other = ls-files --other --exclude-standard
	grep-other = !git ls-other | git grep -f -
	diff-cached = diff --cached
[pull]
	ff = only
