rerun-triggers: ['mtime']
notemp: true
local-cores: 6
latency-wait: 180
max-jobs-per-second: 10
keep-going: true
printshellcmds: true
resources: 'network_connections=3'
default-resources:
  - 'pmem=8192'
  - 'disk_mb=100000'
  - 'walltime_hr=0'
  - 'walltime_min=29'
  - 'walltime_sec=59'
  - 'gpu_mem_mb=1000'
  - 'outdir="log/"'
use-conda: true
conda-frontend: 'mamba'
conda-prefix: '/wynton/home/pollard/bsmith/.snakemake/conda'
use-singularity: true
singularity-prefix: "/wynton/home/pollard/bsmith/.snakemake/singularity"
singularity-args: >-
  --env CONDA_PKGS_DIRS=$HOME/.snakemake/conda/pkgs
  --nv
  --bind $TMPDIR
  --bind $PWD/include:/include
  --bind /salilab/diva1/home/anaconda/anaconda3
  --bind /pollard
  --bind /wynton
  --bind /scratch
jobscript: 'profiles/wynton-qsub-gpu/jobscript.sh'
cluster: "qsub -cwd \
        -v PATH \
        -pe smp {threads} \
        -l h_rt={resources.walltime_hr}:{resources.walltime_min}:{resources.walltime_sec} \
        -l mem_free={resources.pmem}M \
        -l gpu_mem={resources.gpu_mem_mb}M \
        -j yes \
        -terse \
        -o {resources.outdir} \
        -b n \
        -q gpu.q \
        "
cluster-cancel: '/opt/sge/bin/lx-amd64/qdel'
jobname: '{name}.{jobid}.snkjb'
config:
  - 'USE_CUDA=1'
  - 'MAX_THREADS=24'
